@charset "UTF-8";
/* Elements */

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

header {
	margin: 0 0;
	background-color: #DD0CBE;
}

main {
	text-content: center;
}

footer {
	background-color: blue;
	color: white;
	text-align: center;
}

table {
}

/* Classes */
.centerme {
	text-align: center;
}